<?xml version="1.0"?>
<!--
SPDX-FileCopyrightText: 2026 Maho <https://mahocommerce.com>
SPDX-License-Identifier: OSL-3.0
-->
<config>
    <modules>
        <Maho_NetsEasy>
            <version>1.0.0</version>
        </Maho_NetsEasy>
    </modules>
    <global>
        <models>
            <netseasy>
                <class>Maho_NetsEasy_Model</class>
                <resourceModel>netseasy_resource</resourceModel>
            </netseasy>
            <netseasy_resource>
                <class>Maho_NetsEasy_Model_Resource</class>
                <entities>
                    <payment>
                        <table>netseasy_payment</table>
                    </payment>
                </entities>
            </netseasy_resource>
        </models>
        <helpers>
            <netseasy>
                <class>Maho_NetsEasy_Helper</class>
            </netseasy>
        </helpers>
        <blocks>
            <netseasy>
                <class>Maho_NetsEasy_Block</class>
            </netseasy>
        </blocks>
        <resources>
            <maho_netseasy_setup>
                <setup>
                    <module>Maho_NetsEasy</module>
                </setup>
            </maho_netseasy_setup>
        </resources>
    </global>
    <frontend>
        <secure_url>
            <netseasy_payment>/netseasy/payment</netseasy_payment>
            <netseasy_webhook>/netseasy/webhook</netseasy_webhook>
        </secure_url>
        <translate>
            <modules>
                <Maho_NetsEasy>
                    <files>
                        <default>Maho_NetsEasy.csv</default>
                    </files>
                </Maho_NetsEasy>
            </modules>
        </translate>
        <layout>
            <updates>
                <maho_netseasy>
                    <file>maho_netseasy.xml</file>
                </maho_netseasy>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Maho_NetsEasy>
                    <files>
                        <default>Maho_NetsEasy.csv</default>
                    </files>
                </Maho_NetsEasy>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <netseasy>
                <active>0</active>
                <model>netseasy/payment</model>
                <title>Nets Easy</title>
                <environment>test</environment>
                <checkout_flow>embedded</checkout_flow>
                <payment_action>authorize</payment_action>
                <merchant_handles_consumer_data>1</merchant_handles_consumer_data>
                <send_order_items>1</send_order_items>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <sort_order>100</sort_order>
            </netseasy>
        </payment>
    </default>
</config>
